@use "colors";

.container{
  width: 100%;

  h2 {
    margin-top: 0;
    color: #444;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
}

#add-button{
  width: 100%;

  padding: 10px 15px;

  border: none;
  border-radius: 4px;

  color: white;
  background-color: colors.$col-pri;

  cursor: pointer;
  font-size: 14px;

  &:hover{
    background-color: colors.$col-pri-var;
  }
}
