<div class="container">
  <h2>{{ heading() }}</h2>
  <div id="fields">
    @for (_ of [].constructor(slot_count); track $index) {
      @let deletable = $last && $index !== 0;
      <app-entity-config-entry [index]="$index" [entity_ids]="sample_data" [deletable]="deletable"
                               (deleted)="onSlotDelete()"></app-entity-config-entry>
    }
  </div>
  @if (slot_count < slot_limit){
    <button id="add-button" (click)="onAdd()" [hidden]="">Add New Slot</button>
  }
</div>

