.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.config-container {
  display: flex;
  gap: 50px;

  margin-top: 35px;

  app-entity-config-list{
    flex: 1;
  }
}
