@use "colors";

.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: colors.$col-background;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.config-container {
  display: flex;
  gap: 50px;

  margin-top: 35px;

  app-entity-config-list{
    flex: 1;
  }
}

#save-button{
  width: 100%;

  margin-top: 20px;
  padding: 10px 15px;

  border: none;
  border-radius: 4px;

  color: white;
  background-color: colors.$col-sec;

  cursor: pointer;
  font-size: 14px;

  &:hover{
    background-color: colors.$col-sec-var;
  }
}
