<div class="container">
  <h2>{{ heading() }}</h2>
  <div id="fields">
    @for (entry of entries(); track entry.id) {
      <app-entity-config-entry [entry]="entry" [entity_ids]="entityIDS()" [deletable]="$last"
                               (entryChange)="onEntryChange($event)"
                               (deleted)="onSlotDelete()"></app-entity-config-entry>
    }
  </div>
  @if (slot_count() < slot_limit) {
    <button id="add-button" (click)="onAdd()" [hidden]="">{{"app.sensorConfig.newSlotButton" | translate}}</button>
  }
</div>

